//Fonts
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap');
$font-main: 'Hind Madurai', sans-serif; 

//Element colors 
$primary-color: rgb(58, 59, 59);  

//Text colors
$text-color-dark: rgb(36, 35, 35); 
$text-color-light: rgb(216, 216, 216); 
$link-color: rgb(223, 223, 223); 

//Text sizes 
$text-size-paragraph: 14px;
$text-size-logo: 25px; 
$text-size-h1: 48px; 

//Mixins 
@mixin flexBox($alignItems, $justifyContent, $flexDirection) { 
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin button($colorButton, $colorText, $hoverColor) { 
    width: 220px; 
    height: 50px;
    color: $colorText; 
    background-color: $colorButton;
    font-size: 16px;
    padding: 10px; 
    &:hover { 
     cursor: pointer;
     background-color: $hoverColor;
    }
}

//General page settings 
* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body { 
    width: 100%;
    height: 100%; 
    font-family: 'Hind Madurai', sans-serif; 
}

/*Login page*/ 
#login-page { 
    @include flexBox((center), center, row);
    height: 100vh; 
    width: 100%; 
    background: rgb(14,12,59);
    background: radial-gradient(circle, rgba(14,12,59,1) 0%, rgba(148,187,233,1) 100%); 
}

#login-card { 
    @include flexBox(center, center, column); 
    width: 400px; 
    height: 300px; 
    border-radius: 16px;
    background-color: rgba(148,187,233,0.3);
    h1 { 
        font-size: $text-size-h1;
        color: white; 
    }
    h2 { 
        margin-bottom: 2rem; 
        color: white; 
    }
}

.login-button { 
    @include button($primary-color, white, rgb(88, 86, 86)); 
    @include flexBox(center, space-between, row);
    border-radius: 16px;
    border: none; 
    margin: 2px;
    .login-icon { 
        margin-right: 10px;
    }
    .login-icon-facebook { 
        color: rgb(103, 103, 246); 
    }
    &:hover { 
        .login-icon { 
            transform: rotate(720deg);
            transition: .6s ease-in-out;
        }
    }
}

/*Chats page*/ 
.nav-bar { 
    @include flexBox(center, space-between, row); 
    width: 100%; 
    height: 66px;
    background: rgb(14,12,59);
    background: radial-gradient(circle, rgba(14,12,59,1) 0%, rgba(148,187,233,1) 100%);
    #nav-logo { 
        margin-left: 15px;
        font-size: $text-size-logo;  
        font-weight: 700;
        color: $text-color-dark; 
    }  
    #nav-logout-button { 
        @include button($primary-color, white, rgb(88, 86, 86)); 
        margin-right: 15px;
        border: none; 
    }
}

.ce-wrapper,
.ce-chat-card,
.ce-chat-list { 
    font-family: $font-main !important;
}

.ce-chat-card { 
    min-width: 250px; 
    color: white !important; 
    background-color: $primary-color !important;
}